@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #232323;
  color: #fff;
  display: flex;
  min-height: calc(100vh (100px-100px));
}

input {
  color: black;
  width: 20vw;
}

select {
  color: black;
}

textarea {
  color: black;
}
/* .home_dark_bg {
  background-image: url("/tail-imgs/gym-bg.jpg");
  background-color: rgb(124, 124, 124);
  background-blend-mode: multiply;
  background-position: 20% center;
  background-size: cover;
} */

/* .footer{
  position: relative;
  display:flex;
  min-height:30vh;

} */

.login {
  width: 100vw;
  height: 95vh;
  background-image: url("./assets/images/login.jpeg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caja-login {
  display: flex;
  flex-direction: column;
  background-color: gray;
  border-radius: 20px;
  gap: 0;
  opacity: 90%;
  align-items: center;
  margin-top: 70px;
}

.button {
  width: 60px;
  height: 40px;
  cursor: pointer;
  background: #515252;
  border-radius: 20px;
  transition: 1s ease-in-out;
  align-items: center;
  margin: 20px;
}
.button:hover {
  width: 190px;
  border: 2px solid rgb(113 63 18);
  transition: 1s ease-in-out;
  background: #2b2c2c;
}
.facebook-google {
  text-size-adjust: 50px;
  display: flex;
  align-items: center;
  color: black;
  opacity: 90%;
  padding-bottom: 40px;
  margin: auto;
  flex-direction: column;
}

.caja-form {
  width: 100vw;
  height: 95vh;
  background-image: url("./assets/images/register.jpeg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.caja {
  align-items: center;
  margin: auto;
  border-radius: 20px;
  background-color: #2b2c2c;
  opacity: 80%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.divImg1 {
  width: 100vw;
  height: 95vh;
  background-image: url("./assets/images/img_landing2.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textoImg1 {
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
.carouselLanding {
  margin-top: 20vh;
}

.divImg2 {
  width: 100vw;
  height: 95vh;
  background-image: url("./assets/images/img_landing2.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}
